- name: Set keystore settings
  become: yes
  shell: echo "{{item.value}}" | {{es_home}}/bin/elasticsearch-keystore add -x '{{item.key}}'
  environment:
    ES_PATH_CONF: "{{ conf_dir }}"
#  no_log: true
  with_items: "{{es_keystore_items}}"
  notify:
    - restart elasticsearch